#restaurant {
	background: #0d1081;
	color: #babbf9;
	// min-height: 100vh;
	padding-bottom: 100px;
	.img-fluid {
					max-width: 100%;
					height: auto;
	}

	p {
		margin-bottom: 0;
	}

	img {
					vertical-align: middle;
	}

	img {
					border-style: none;
	}
}