<div id="restaurant" class="edge--top">
  <br>
  <br>
  <div class="container text-center">
    <div style="font-weight:500;" class="lead text-uppercase">Restaurant Template</div>
    <h1 style="color:#9739f5;">Responsive mobile friendly</h1>
    <br>
    <div style="background:#383a86;" class="color-container row">
      <div class="col-6 col-md-3">
        <div class="icon-badge material-icons">
          <i style="color:white;" class="fa fa-space-shuttle" aria-hidden="true"></i>
        </div>
        <p style="color:white;">Responsive
          <small>works really well on Mobile</small>
        </p>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-badge material-icons">
          <i style="color:white;" class="fa fa-map" aria-hidden="true"></i>
        </div>
        <p style="color:white;">Google Maps</p>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-badge material-icons">
          <i style="color:white;" class="fa fa-motorcycle" aria-hidden="true"></i>
        </div>
        <p style="color:white;">Fast</p>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-badge material-icons">
          <i style="color:white;" class="fa fa-user-plus" aria-hidden="true"></i>
        </div>
        <p style="color:white;">Built for users</p>
      </div>
    </div>
    <br>
    <div style="background:#080a61;color:white;" class="call-action light center section">
      Learn more:&nbsp;
      <br>
      <a class="native-link" href="https://www.synaren.com/restaurant">https://www.synaren.com/restaurant</a>
      <br>
    </div>

  </div>
</div>