<div id="doc" class="edge--top">
  <br>
  <br>
  <div class="container text-center">
    <div style="font-weight:500;" class="lead text-uppercase content-alignment">Convenient Document Editor</div>
    <h1 class="content-alignment" style="color:white;">Save and load documents on the go!</h1>
    <br>
    <div style="background:#c16799;" class="content-alignment color-container row">
      <div class="col-0 col-md-3"></div>
      <div class="col-6 col-md-3">
        <div class="icon-badge material-icons">
          <i style="color:white;" class="fa fa-edit" aria-hidden="true"></i>
        </div>
        <p style="color:white;">Edit documents in browser</p>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-badge material-icons">
          <i style="color:white;" class="fa fa-save" aria-hidden="true"></i>
        </div>
        <p style="color:white;">Save and load documents</p>
      </div>
      <div class="col-0 col-md-3"></div>
    </div>

    <br>
    <div class="content-alignment section center" id="frame-container">
      <iframe (window:resize)="onResize()" id="doc-editor-frame" scrolling="no" style="overflow:hidden;background:white;border:0 none solid;border-radius:2px;"
        src="https://www.synaren.com/doc_editor" frameBorder="0" width="{{iframeSize * 0.9 + 'px'}}" height="{{iframeSize * 0.7 + 'px'}}"></iframe>
    </div>
    <br>
    <div style="background:#54243f;color:white;" class="content-alignment call-action light center section">
      <div class="light center">Document editor is a html editor, where you can create and save documents. Create a new account, or use your FriendWork
        account.
      </div>
      <a class="native-link" href="https://www.synaren.com/doc_editor">https://www.synaren.com/doc_editor</a>
      <!-- <a class="btn waves-effect waves-light" type="button" href="https://www.synaren.com/doc_editor">Try it out
      </a> -->
    </div>
  </div>
</div>