<div id="gl3d" class="edge--top">
  <br>
  <br>
  <div class="container text-center">
    <!-- <div style="font-weight:500;text-align:center;" class="content-alignment lead text-uppercase">User engagement</div> -->
    <h1 class="content-alignment" style="text-align: center;color:white;  text-shadow: 2px 2px black;">Serve media rich 360° content!</h1>
    <div style="text-align: center;" class="lead content-alignment">
      MovskiVR provides a 360° image viewer hosted on the cloud to serve media rich content to potential clients.
    </div>
    <br>
    <!-- <div class="color-container row content-alignment">
      <div class="col-6 col-md-3">
        <div class="icon-badge material-icons">
          <i class="fa fa-mixcloud" aria-hidden="true"></i>
        </div>
        <p style="font-weight:bold;">Scalable Cloud based Service</p>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-badge material-icons">
          <i class="fa fa-file-video-o" aria-hidden="true"></i>
        </div>
        <p style="font-weight:bold;">Embeddable</p>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-badge material-icons">
          <i class="fa fa-simplybuilt" aria-hidden="true"></i>
        </div>
        <p style="font-weight:bold;">Device Motion (VR)</p>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-badge material-icons">
          <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
        </div>
        <p style="font-weight:bold;">Improve customer outcomes</p>
      </div>
    </div>
    <br> -->
    <div class="section center" id="frame-container">
      <iframe allowvr="yes" id="iframe" (window:resize)="onResize()" scrolling="no" style="overflow:hidden;background:white;border:1px black solid;border-radius:2px;" src="https://www.synaren.com/movskivr-static/static/v2/index.html?accessToken=SH1Jy2B2XS7Qm1R2uCOTh6jAmb4TuLhoZW8aFyg9&propertyId=0&ref=synaren"
      frameBorder="0" allowFullScreen width="{{iframeSize * 0.9 + 'px'}}" height="{{iframeSize * 0.7 + 'px'}}"></iframe>
    </div>
    <br>
    <div class="secondary-container content-alignment call-action light center section">
      <!-- <div class="light center">View 360° images in your browser (Drag image to view!) -->
      <!-- </div> -->
      To learn more visit&nbsp;
      <br>
      <a class="native-link" href="https://www.movskivr.com.au/">movskivr.com.au</a>
    </div>
  </div>
</div>