<div id="enginesniffle" class="edge--top">
  <br>
  <br>
  <div class="container">
    <div style="font-weight:500;" class="content-alignment text-center lead text-uppercase">For iOS games</div>
    <h1 style="color:#FFB400;" class="content-alignment text-center">Fast performant game engine optimised for mobile!</h1>
    <br>
    <div style="background:#045D7B;" class="content-alignment color-container row text-center">
      <div class="col-6 col-md-3">
        <div class="icon-badge material-icons">
          <i style="color:whitesmoke;" class="fa fa-plug" aria-hidden="true"></i>
        </div>
        <p style="color:whitesmoke;">Plug and play</p>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-badge material-icons">
          <i style="color:whitesmoke;" class="fa fa-tachometer" aria-hidden="true"></i>
        </div>
        <p style="color:whitesmoke;">Highly performant</p>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-badge material-icons">
          <i style="color:whitesmoke;" class="fa fa-hand-pointer-o" aria-hidden="true"></i>
        </div>
        <p style="color:whitesmoke;">3D touch recognition</p>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-badge material-icons">
          <i style="color:whitesmoke;" class="fa fa-video-camera" aria-hidden="true"></i>
        </div>
        <p style="color:whitesmoke;">Shadows and lighting</p>
      </div>
    </div>
    <div>
      <h1 class="text-center">
        <a style="color:whitesmoke;" class="content-alignment-width title center" href="https://github.com/ndphan/EngineSniffle2">Engine Sniffles (2015)</a>
      </h1>
    </div>
    <div class="code-trail section content-alignment-width" style="margin:auto;">
        <div><span class="pl-en">SniffleApp</span></div>
        <div><span class="pl-k">void</span> <span class="pl-en">start</span>()</div>
        <div><span class="pl-k">void</span> <span class="pl-en">resume</span>()</div>
        <div><span class="pl-k">void</span> <span class="pl-en">pause</span>()</div>
        <br>
        <div><span class="pl-en">SniffleObject</span></div>
        <div><span class="pl-k">ContextManager*</span> <span class="pl-en">getContext</span>()</div>
        <div><span class="pl-k">void</span> <span class="pl-en">postConstruct</span>()</div>
        <div><span class="pl-k">void</span> <span class="pl-en">render</span>()</div>
        <div><span class="pl-k">void</span> <span class="pl-en">update</span>(<span class="pl-k">long long</span> milliseconds)</div>
        <div><span class="pl-k">void</span> <span class="pl-en">event</span>(<span class="pl-k">const</span> Event&#38; event)</div>
        <div><span class="pl-k">void</span> <span class="pl-en">onPause</span>()</div>
        <div><span class="pl-k">void</span> <span class="pl-en">onResume</span>()</div>
        <br>
        <div><span class="pl-en">ContextManager</span></div> 
        <div><span class="pl-k">*</span> <span class="pl-en">start</span>()</div>
        <div><span class="pl-k">*</span> <span class="pl-en">pause</span>()</div>
        <div><span class="pl-k">*</span> <span class="pl-en">resume</span>()</div>
        <div><span class="pl-k">*</span> <span class="pl-en">removeEntity</span>(*entity)</div>
        <div><span class="pl-k">*</span> <span class="pl-en">loadTexture</span>(*imgData)</div>
        <div><span class="pl-k">*</span> <span class="pl-en">transaction</span>(*id)</div>
        <div><span class="pl-k">*</span> <span class="pl-en">removeDrawer</span>(*id)</div>
        <div><span class="pl-k">*</span> <span class="pl-en">create * drawers</span>(*)</div>
    </div>
    <br>
    <div style="background:#034A61;color:whitesmoke;" class="content-alignment call-action light center section">
      <div class="light center">Engine Sniffle is a C++ iOS OpenGL game engine that you can plug and play
      </div>
      Learn more:&nbsp;
      <br>
        <a style="" class="align-text-center-flex native-link" href="https://github.com/ndphan/EngineSniffle2">https://github.com/ndphan/EngineSniffle2</a>
      <div style="height:10px;">
      </div>
    </div>
  </div>
</div>