<div id="friendwork" class="edge--top">
  <br>
  <br>
  <div class="container text-center">
    <!-- <div style="font-weight:500;text-align: center;" class="content-alignment lead text-uppercase sub-header">Connecting users</div> -->
    <h1 style="text-align: center;" class="lead-header content-alignment">The quickiest way to chat online!</h1>
    <div style="text-align: center;" class="lead content-alignment">
      Create chat sessions anytime on demand and share to chat with anyone.
    </div>
    <br>
    <!-- <h2 style="color:#FFDB00;">Benefits</h2> -->
    <!-- <div class="color-container row content-alignment">
      <div class="col-6 col-md-3">
        <div class="icon-badge material-icons">
          <i class="fa fa-bar-chart" aria-hidden="true"></i>
        </div>
        <p style="font-weight:bold;">Increase user engagement</p>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-badge material-icons">
          <i class="fa fa-connectdevelop" aria-hidden="true"></i>
        </div>
        <p style="font-weight:bold;">Improve connectivity</p>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-badge material-icons">
          <i class="fa fa-book" aria-hidden="true"></i>
        </div>
        <p style="font-weight:bold;">A unified learning platform</p>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-badge material-icons">
          <i class="fa fa-cube" aria-hidden="true"></i>
        </div>
        <p style="font-weight:bold;">Integrate into existing programs</p>
      </div>
    </div>
    <br> -->
    <div id="friendwork-slideshow" class="section">
      <div class="center">
        <ng-container *ngFor="let img of imgs">
          <img class="slides content-alignment" alt="FriendWork screenshots" *ngIf="img === currentImg" [src]="img">
          <img class="slides content-alignment" alt="FriendWork screenshots" *ngIf="img === loadImg" (load)="currentImg = loadImg" [src]="img" style="display:none;">
        </ng-container>
      </div>
      <div class="center" style="display:flex;overflow:auto;">
        <ul class="pagination">
          <!-- <li class="disabled"><a><i style="font-size:1.1rem;padding-right: 10px;" class="material-icons fa fa-chevron-left"></i></a></li> -->
          <ng-container *ngFor="let img of imgs; let i = index">
            <li *ngIf="img === loadImg" (click)="updateCurrentImg(img)" class="page-item waves-effect active">
              <a class="page-link">{{i + 1}}</a>
            </li>
            <li *ngIf="img !== loadImg" (click)="updateCurrentImg(img)" class="page-item waves-effect">
              <a class="page-link">{{i + 1}}</a>
            </li>
          </ng-container>
          <!-- <li class="disabled"><a><i style="font-size:1.1rem;padding-left: 10px;" class="material-icons fa fa-chevron-right"></i></a></li> -->
        </ul>
      </div>
    </div>
    <br>
    <div class="content-alignment secondary-container call-action light center section">
      To learn more visit&nbsp;
      <br>
      <a class="native-link" href="https://www.synaren.com/cloud-chat">synaren.com/cloud-chat</a>
      <br>
    </div>
  </div>
</div>