:host {
  background: #e1e1dd;
  

  #friendwork {
    background: #e1e1dd;
    // color: #15001A;
    color: #140e0e;
    padding-bottom: 100px;

    @media(min-width: 768px){
    .container { 
      // background: #595a45;
      padding-top: 20px;
      padding-bottom: 10px;
      border-radius: 4px;
      // box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
  }
    
    .lead-header {
      color: #acacac;
      text-shadow: 2px 2px black;
    }

    .sub-header {
      color: #acacac;
    }

    .secondary-container {
      background: #acacac;
      color: white;
      border-radius: 2px;
    }

    .title {
      font-size: 1.7rem;
      font-weight: 500;
      margin-top: 5px;
      margin-bottom: 0;
    }
  
    p {
      margin-bottom: 0;
    }
  
    #friendwork-slideshow {
      .slides {
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        max-height: 500px;
        width: 100%;
        border-radius: 2px;
      }
      .pagination {
        width: auto;
        margin: auto;
        margin-top: 5px;
        color: black;
        cursor: pointer;
      }
    }
  }
  
}
