.app-container {
  z-index: 1;
}

.flexbox {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-center {
  text-align: center;
  align-self: center;
}

.table-header {
  font-size: 1.2em;
  font-weight: bolder;
  background: blue;
  color: whitesmoke;
}

.table-column {
  padding: 2px;
}

.table-row:nth-child(even) {
  background: whitesmoke;
  color: black;
}

.table-row:nth-child(odd) {
  background: white;
  color: black;
}

.width-100 {
  width: 100%;
}

body {
  display: flex;
  min-height: 100%;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

iframe {
  border-radius: 2px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.75);
  background: black;
}