<div id="space-duck" class="edge--top">
  <br>
  <br>
  <div class="container">
    <div style="font-weight:500;" class="content-alignment text-center lead text-uppercase"></div>
    <h1 style="text-align: center;" class="lead-header content-alignment">Space Duck</h1>
    <div style="text-align: center;" class="lead content-alignment">
        Fast paced obstacle avoidance game
   </div>
    <br>
    <div class="section center" id="frame-container" [ngStyle]="{width:iframeSize * 0.9 + 'px',height:iframeSize * 0.9 + 'px',margin:'auto',maxWidth: '800px'}">
      <iframe *ngIf="inView" class="game-frame" [ngClass]="{'in-view': inView === true}"  id="game-container" (window:resize)="onResize()" scrolling="no" style="background:black;overflow:hidden;border:0 none solid;border-radius:2px;" src="https://synaren.com/space-duck/"
        frameBorder="0" width="{{iframeSize * 0.9 + 'px'}}" height="{{iframeSize * 0.9 + 'px'}}"></iframe>
    </div>
  </div>
</div>