#space-duck {
	background: #06799F;
	color: #FFC539;
	padding-bottom: 100px;
	
	.title {
			font-size: 1.7rem;
			font-weight: 500;
			margin-top: 5px;
			margin-bottom: 0;
	}
	.code-trail {
			background: #30aed6;
			padding-left: 1rem;
			border-radius: 4px;
			color: black;
			font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
			.pl-en {
					color: #6f42c1;
			}
			.pl-k {
					color: #d73a49;
			}
	}

	.code {
			background: whitesmoke;
			padding: 4px;
			padding-right: 10px;
			padding-left: 10px;
			border-radius: 3px;
	}

	.call-action {
			text-align: center;
			word-wrap: break-word; 
	}
}
