<div id="about-me" class="edge--top">
    <br>
    <br>
    <div class="container text-center">
        <div class="text-center row" style="color:#07123A;font-weight:bold;font-size:1.5em;">
          <div class="col-12">
            <div id="nam-card"></div>
          </div>
          <div class="col-12">Nam Phan</div>
        </div>
        <small class="text-center subtle">Creator, builder</small>
        <br>
        Connect with me on <a href="https://www.linkedin.com/in/ndphan/">Linkedin</a>.
        <br>
        Find anything you like? 
    </div>
    <br>
    <br>
  </div>