#about-me {
	background: #ffffff;
	color: #07123A;
	padding-bottom: 40px;
	min-height: 100px;

	@media(min-width: 768px){
		.container { 
				// background: #f5f5f5;
				padding-top: 20px;
				padding-bottom: 10px;
				border-radius: 4px;
				// box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		}
	}

	.subtle {
		font-size: 0.9em;
		color: #172556;
	}

	.about-text {
		color: #07123A;
		font-size: 1.2em;
		word-break: break-word;
		word-spacing: 1px;
	}

#nam-card {
	background-image: url('./../../../assets/nam-pic.png');
	height: 100px;
	width: 100px;
	background-position: 58% 45%;
	border-radius: 50px;
	background-size: 170%;
	margin: auto;
}
}
